bin/
bin
bin/Debug/chromedriver.exe
bin/
bin/Debug/unlock_282.exe
bin/Debug/
obj/
obj/Debug/
bin/Debug/nick.txt
obj
obj/Debug/unlock_282.pdb
obj/Debug/unlock_282.exe
bin/Debug/unlock_282.pdb
bin/Debug/nick.txt
